.mobile-links {
    list-style: none;
}

.menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.menu-inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    /* transition: 500ms ease; */
}

@keyframes transformX {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0px);
    }
}

.mobile-menu {
    animation: transformX 0.5s linear;
}